@keyframes Animation3 {
    0% {
        transform: scale(1, 3.5);
        text-shadow:
            0 0 2px #ff4040,
            0 0 5px #570100,
            0 0 10px #570100,
            0 0 15px #570100,
            0 0 20px #570100,
            0 0 25px #570100,
            0 0 30px #570100;
    }
    100% {
        transform: scale(1.05, 4);
        text-shadow:
            0 0 20px #ad0404,
            0 0 30px #570100,
            0 0 40px #570100,
            0 0 50px #570100,
            0 0 60px #570100,
            0 0 70px #570100,
            0 0 80px #570100;
    }
}

.animation1 {
    animation: IntroTitle 2s ease-in-out 1s infinite normal none;
}

.animation2 {
    animation: IntroTitle 2s ease-in-out 3.5s infinite normal none;
}

.animation3 {
    animation: Animation3 5s ease-in-out 6s infinite normal none;
}
