@keyframes Animation1 {
    0% {
        transform: scale(1, 1);
        height: auto;
    }
    100% {
        transform: scale(1.05, 1.05);
        height: 0;
    }
}

@keyframes Animation2 {
    0% {
        transform: scale(1, 1);
        height: auto;
    }
    100% {
        transform: scale(1.05, 1.05);
        height: 0;
    }
}

@keyframes Animation3 {
    0% {
        height: auto;
        transform: scale(1, 3.5);
        text-shadow:
            0 0 2px #ff4040,
            0 0 5px #570100,
            0 0 10px #570100,
            0 0 15px #570100,
            0 0 20px #570100,
            0 0 25px #570100,
            0 0 30px #570100;
    }
    100% {
        height: 0;
        transform: scale(1.05, 4);
        text-shadow:
            0 0 20px #ad0404,
            0 0 30px #570100,
            0 0 40px #570100,
            0 0 50px #570100,
            0 0 60px #570100,
            0 0 70px #570100,
            0 0 80px #570100;
    }
}

.animation1 {
    height: 0;
    overflow: hidden;
    animation: Animation1 3s ease-in-out 1s 1 normal none;
}

.animation2 {
    height: 0;
    overflow: hidden;
    animation: Animation2 3s ease-in-out 4.5s 1 normal none;
}

.animation3 {
    height: 0;
    overflow: hidden;
    animation: Animation3 5s ease-in-out 8s 1 normal none;
}
