.animation-container {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.intro-text {
    font-size: 10rem;
}

.intro-title {
    font-size: 15rem;
}
